{% extends '@AppBundle/Resources/views/admin/base.html.twig' %}
{% block body %}
    {% include '@AppBundle/Resources/views/admin/header.html.twig' %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {% include '@AppBundle/Resources/views/admin/sidebar.html.twig' %}
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">



                <div class="tab-pane" id="tab_3">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Form Sample </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                <a href="javascript:;" class="reload"> </a>
                                <a href="javascript:;" class="remove"> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form class="form-horizontal" role="form">
                                <div class="form-body">
                                    <h2 class="margin-bottom-20"> View User Info - Bob Nilson </h2>
                                    <h3 class="form-section">Person Info</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3">First Name:</label>
                                                <div class="col-md-9">
                                                    <p class="form-control-static"> Bob </p>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                  
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button type="submit" class="btn green">
                                                        <i class="fa fa-pencil"></i> Edit</button>
                                                    <button type="button" class="btn default">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6"> </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                  
                </div>









            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
    {% include   '@AppBundle/Resources/views/admin/footer.html.twig' %} 
{% endblock %}


