<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner"> 2017 &copy;  
        <a href="https://www.linkedin.com/in/sasa-milivojevic-a4a0609b/" title="Sasa Milivojevic" target="_blank">Sasa Milivojevic</a>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>
<!-- END FOOTER --> 