{% extends '@AppBundle/Resources/views/admin/base.html.twig' %}
{% block body %}
    {% include '@AppBundle/Resources/views/admin/header.html.twig' %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        {% include '@AppBundle/Resources/views/admin/sidebar.html.twig' %}
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">


               <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-group">
                                    <form action="#" class="mt-repeater form-horizontal">
                                        <h3 class="mt-repeater-title">Human Resource Management</h3>
                                        <div data-repeater-list="group-a">
                                            <div data-repeater-item class="mt-repeater-item">
                                                <!-- jQuery Repeater Container -->
                                                
                                                <div class="mt-repeater-input">                                                   
                                                    <label class="control-label">Name</label>
                                                    <br/>
                                                    <input type="text" name="text-input" class="form-control" value="John Smith" /> </div>               
                                            </div>
                                        </div>
                                        <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                            <i class="fa fa-plus"></i> Add</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                                        
            </div>










            <!-- END CONTAINER -->
            {% include   '@AppBundle/Resources/views/admin/footer.html.twig' %} 
        {% endblock %}


