{% extends '@AppBundle/Resources/views/admin/base.html.twig' %}
{% block body %}
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
        <div class="clearfix"> </div>
        {% include '@AppBundle/Resources/views/admin/header.html.twig' %}

        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include '@AppBundle/Resources/views/admin/sidebar.html.twig' %}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">

                             {% block form %}
                                        {% endblock %}   
                           
                </div>
            </div>

        </div>
        <!-- END CONTAINER -->
        {% include   '@AppBundle/Resources/views/admin/footer.html.twig' %} 
    </body>
{% endblock %}


