{% extends '@AppBundle/Resources/views/admin/form.html.twig' %}

{% block body %}
    <h1>Team creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div  class="btn-group btn-group-circle btn-group-solid">
        <a href="{{ path('team_index') }}" class="btn red">Back to the list</a>
        <input type="submit" value="Create" class="btn green" />
        {{ form_end(form) }}
    {% endblock %}
