<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->
<div class="c-layout-breadcrumbs-1 c-bgimage-full   c-fonts-uppercase c-fonts-bold   c-bg-img-center" 
    {# style="background-image: url(../../assets/base/img/content/backgrounds/bg-56.jpg) "#}> 
    
    <div class="c-breadcrumbs-wrapper">
        <div class="container">11
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim c-opacity-09">Breadcrumbs - Bg Image V10</h3>
                <h4 class="c-font-white c-font-thin c-opacity-09">Page Sub Title Goes Here</h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="javascript:;" class="c-font-white">Features</a></li>
                <li class="c-font-white">/</li>
                <li><a href="#" class="c-font-white">Breadcrumbs</a></li>
                <li class="c-font-white">/</li>
                <li><a href="breadcrumbs-bgimage-10.html" class="c-font-white">Breadcrumbs - Bg Image V10</a></li>
                <li class="c-font-white">/</li>
                <li class="c-state_active c-font-white">Jango Components</li>

            </ul>
        </div>
    </div>
</div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-4 -->