<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
<header class="c-layout-header c-layout-header-default c-layout-header-dark-mobile c-header-transparent-dark" data-minimize-offset="80">
    <div class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <div class="c-brand c-pull-left">
                        <a href="{{ path('home') }}" class="c-logo">
                            <img src="{{ asset('images/logo.png')}}" alt="OK Novi Beograd" class="c-desktop-logo" style="height: 45px;">
                            <img src="{{ asset('images/logo.png')}}" alt="OK Novi Beograd" class="c-desktop-logo-inverse" style="height: 45px;">
                            <img src="{{ asset('images/logo.png')}}" alt="OK Novi Beograd" class="c-mobile-logo" style="height: 45px;">
                        </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                    </div>			
                </div>
                <!-- END: BRAND -->				

                <!-- BEGIN: MEGA MENU -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    {% include '@AppBundle/Resources/views/front/navbar.html.twig' %}
                </nav>
                <!-- END: MEGA MENU --><!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->		
            </div>			            
        </div>
    </div>
</header>
<!-- END: HEADER --><!-- END: LAYOUT/HEADERS/HEADER-1 -->
