{% extends '@AppBundle/Resources/views/front/base.html.twig' %}
{% block  SEO %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Design Lots">
    <link rel="icon" href="favicon.ico">
    {% for sEO in sEOs %}
        <title>{{ sEO.titletag }}</title>
        <meta name="description" content="{{ sEO.description }}" />
    {% endfor %}
{% endblock %}


	{% block  body %}  
  
    
	 
		
		
		
		
	
	
		
		<!-- Start Main Content -->
		<main class="main-content">
		    <div class="container body-content">
		    	
		    	<div class="row">
		    		<div class="col-sm-9 col-sm-push-3 main-column team-page">
		    			
		    			<div class="page-title">
		    				<h2>Our Club Teams</h2>
		    				<p class="lead">Our Team is the best around. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
		    			</div>
		    			
		    			
		    			<div class="grid grid-col-3">
		    				<div class="grid-sizer"></div>
		    				<div class="gutter-sizer"></div>
		    				
		    				<h3 class="grid-item team-member team-header ftr-1"><h3/>Committee Team <a data-scroll-nav="1" class="pull-right fa fa-angle-up"></a></h3>
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-1">	
			    				<div class="hover-box-container hb-effect-fade">
			    					<a href="teams-member.html" class="hover-box">
			    						<img src="http://placehold.it/900x700" alt="alt" />
			    						<div class="hover-box-content-container">
			    							<div class="hover-box-content">
			    								<em class="fa fa-link"></em>
			    							</div>
			    						</div>
			    					</a>
			    				</div>
			    				<div class="team-member-details">
				    				<a href="teams-member.html">
				    					<h4>Aaron Shumer</h4>
				    					<small class="meta-text">Team Manager</small>
				    				</a>
					    			<div class="description">
					    				Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
					    			</div>	
					    			<ul class="social-links">
					    				<li><a href="#" class="fa fa-facebook-square"></a></li>
					    				<li><a href="#" class="fa fa-twitter-square"></a></li>
					    				<li><a href="#" class="fa fa-linkedin-square"></a></li>
					    				<li><a href="#" class="fa fa-envelope"></a></li>
					    			</ul>
			    				</div>
			    			</div>
			    			
			    			
			    			<!-- Team Item -->
			    			<div class="grid-item team-member ftr-1">	
			    				<div class="hover-box-container hb-effect-fade">
			    					<a href="teams-member.html" class="hover-box">
			    						<img src="http://placehold.it/900x700" alt="alt" />
			    						<div class="hover-box-content-container">
			    							<div class="hover-box-content">
			    								<em class="fa fa-link"></em>
			    							</div>
			    						</div>
			    					</a>
			    				</div>
			    				<div class="team-member-details">
			    					<a href="teams-member.html">
			    						<h4>James Ince</h4>
			    						<small class="meta-text">Secretary</small>
			    					</a>
			    					<div class="description">
			    						Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
			    					</div>	
			    					<ul class="social-links">
			    						<li><a href="#" class="fa fa-facebook-square"></a></li>
			    						<li><a href="#" class="fa fa-twitter-square"></a></li>
			    						<li><a href="#" class="fa fa-linkedin-square"></a></li>
			    						<li><a href="#" class="fa fa-envelope"></a></li>
			    					</ul>
			    				</div>
			    			</div>
			    			
			    			
			    			<!-- Team Item -->
			    			<div class="grid-item team-member ftr-1">	
			    				<div class="hover-box-container hb-effect-fade">
			    					<a href="teams-member.html" class="hover-box">
			    						<img src="http://placehold.it/900x700" alt="alt" />
			    						<div class="hover-box-content-container">
			    							<div class="hover-box-content">
			    								<em class="fa fa-link"></em>
			    							</div>
			    						</div>
			    					</a>
			    				</div>
			    				<div class="team-member-details">
			    					<a href="teams-member.html">
			    						<h4>David Brant</h4>
			    						<small class="meta-text">Treasurer</small>
			    					</a>
			    					<div class="description">
			    						Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
			    					</div>	
			    					<ul class="social-links">
			    						<li><a href="#" class="fa fa-facebook-square"></a></li>
			    						<li><a href="#" class="fa fa-twitter-square"></a></li>
			    						<li><a href="#" class="fa fa-linkedin-square"></a></li>
			    						<li><a href="#" class="fa fa-envelope"></a></li>
			    					</ul>
			    				</div>
			    			</div>
		    				
		    			</div><!-- /.grid -->
		    			
		    			
		    			
		    			
		    			
		    			
		    			<div class="grid grid-col-4">
		    				<div class="grid-sizer"></div>
		    				<div class="gutter-sizer"></div>
		    				
		    				
		    				<h3 class="grid-item team-member ftr-2 team-header"><br/><hr/>Under 16's Team <a data-scroll-nav="1" class="pull-right fa fa-angle-up"></a></h3>
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Aaron Shumer</h4>
		    							<small class="meta-text">Quarterback</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Johnny donnce</h4>
		    							<small class="meta-text">Blocker</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>James Ince</h4>
		    							<small class="meta-text">Runner</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Peter Prince</h4>
		    							<small class="meta-text">Quarterback</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Jag Jacobs</h4>
		    							<small class="meta-text">Runner</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Keith Noolan</h4>
		    							<small class="meta-text">Forward</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Bobby Ince</h4>
		    							<small class="meta-text">Defense</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Trev Wallace</h4>
		    							<small class="meta-text">Runningback</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Stew Buils</h4>
		    							<small class="meta-text">Quarterback</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Gaven Onee</h4>
		    							<small class="meta-text">Offense</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Jacob Lonce</h4>
		    							<small class="meta-text">Wing</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    				<!-- Team Item -->
		    				<div class="grid-item team-member ftr-2">	
		    					<div class="hover-box-container hb-effect-fade">
		    						<a href="teams-member.html" class="hover-box">
		    							<img src="http://placehold.it/900x700" alt="alt" />
		    							<div class="hover-box-content-container">
		    								<div class="hover-box-content">
		    									<em class="fa fa-link"></em>
		    								</div>
		    							</div>
		    						</a>
		    					</div>
		    					<div class="team-member-details">
		    						<a href="teams-member.html">
		    							<h4>Freddy Noice</h4>
		    							<small class="meta-text">Wing</small>
		    						</a>
		    					</div>
		    				</div>
		    				
		    				
		    			</div><!-- /.grid -->
		    			
		    			
		    			
		    			
		    			
		    			
		    			<div class="grid grid-col-5">
		    				<div class="grid-sizer"></div>
		    				<div class="gutter-sizer"></div>
		    				
		    				
		    				<h3 class="grid-item team-member ftr-3 team-header"><br/><hr/>Pee Wee's Team <a data-scroll-nav="1"  class="pull-right fa fa-angle-up"></a></h3>
		    				<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Aaron Shumer</h4>
	    								<small class="meta-text">Quarterback</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Johnny donnce</h4>
	    								<small class="meta-text">Blocker</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>James Ince</h4>
	    								<small class="meta-text">Runner</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Peter Prince</h4>
	    								<small class="meta-text">Quarterback</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Jag Jacobs</h4>
	    								<small class="meta-text">Runner</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Keith Noolan</h4>
	    								<small class="meta-text">Forward</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Bobby Ince</h4>
	    								<small class="meta-text">Defense</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Trev Wallace</h4>
	    								<small class="meta-text">Runningback</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Stew Buils</h4>
	    								<small class="meta-text">Quarterback</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Gaven Onee</h4>
	    								<small class="meta-text">Offense</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Jacob Lonce</h4>
	    								<small class="meta-text">Wing</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Freddy Noice</h4>
	    								<small class="meta-text">Wing</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Trev Wallace</h4>
	    								<small class="meta-text">Runningback</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Stew Buils</h4>
	    								<small class="meta-text">Quarterback</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					<!-- Team Item -->
	    					<div class="grid-item team-member ftr-3">	
	    						<div class="hover-box-container hb-effect-fade">
	    							<a href="teams-member.html" class="hover-box">
	    								<img src="http://placehold.it/900x700" alt="alt" />
	    								<div class="hover-box-content-container">
	    									<div class="hover-box-content">
	    										<em class="fa fa-link"></em>
	    									</div>
	    								</div>
	    							</a>
	    						</div>
	    						<div class="team-member-details">
	    							<a href="teams-member.html">
	    								<h4>Hap Juils</h4>
	    								<small class="meta-text">Quarterback</small>
	    							</a>
	    						</div>
	    					</div>
	    					
	    					
	    				</div><!-- /.grid -->
		    				
					</div><!--/.main-column -->
								
				
					
					
					<aside class="sidebar col-sm-3 col-sm-pull-9 sticky">
						<h3>Our Teams</h3>
						<div class="post-meta">
							<em class="date">17 March</em>
							<em class="author"><a href="archive-list.html">DesignLots</a></em>
						</div>
						
						<!-- Isotope Filters -->
						<ul class="list-filter list-bordered filter-button-group" data-filter-group="color">
						  <li><a class="active" data-filter="">Display All</a></li>
						  <li><a data-filter=".ftr-1">Show Committee Members</a></li>
						  <li><a data-filter=".ftr-2">Show Under 16's Team</a></li>
						  <li><a data-filter=".ftr-3">Show Pee Wee's Team</a></li>
						</ul>
						
						<div class="rule-icon"><em class="icon-football3"></em></div>
						
						
						<h4>Club Description</h4>
						<p>Donec id elit non mi porta gravida at eget metus. Sed posuere consec tetur est at lobortis. Cras mattis consec tetur purus sit amet fermentum. Curabitur blandit  porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						
						
						<div class="rule-icon"><em class="icon-football3"></em></div>
						
						<div class="widget widget-stats">
							<h3>Season Stats</h3>
							<ul class="list-stats clearfix">
								<li>
									<h4 class="counter" data-from="0" data-to="11" data-speed="3000" data-refresh-interval="50"></h4>
									<h5>Game Wins</h5>
								</li>
								<li>
									<h4 class="counter" data-from="0" data-to="37" data-speed="3000" data-refresh-interval="50"></h4> 
									<h5>Touch Downs</h5>
								</li>
								<li>
									<h4 class="counter" data-from="0" data-to="1026" data-speed="3000" data-refresh-interval="50"></h4>
									<h5>Yards Gained</h5>
								</li>
								<li>
									<h4 class="counter" data-from="0" data-to="16" data-speed="3000" data-refresh-interval="50"></h4>
									<h5>Penalties</h5>
								</li>
							</ul>
						</div>
						
					</aside>
		
		    </div><!-- /.container -->
		</main><!-- /.main-content -->
		
		
{% endblock %}		
		
		
		