{% extends '@AppBundle/Resources/views/admin/table.html.twig' %}

{% block tbody %}
    <h1>Breadcrump</h1>

    <table  class="table table-striped table-bordered table-hover" id="sample_1">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ breadCrump.name }}</td>
            </tr>
            <tr>
                <th>Slike</th>
                <td>
                    {% for mainGallery in breadCrump.mainGallery %}
                        <img src="{{ vich_uploader_asset(mainGallery, 'imageFile') }}" height="50" width="50" />
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <div  class="btn-group btn-group-circle btn-group-solid">
        <a href="{{ path('breadcrumps_index') }}" class="btn green">Back to the list</a>
        <a href="{{ path('breadcrumps_edit', { 'slug': breadCrump.slug }) }}" class="btn yellow">Edit</a>
    </div>

{% endblock %}
